    *{
          background-color: dimgrey;
        }
        h1{
          color: red;
          font-style: oblique;
          text-align: center;
          background-color: bisque;
          }
          p{
            font-style: italic;
            font-weight: lighter;
          }
